<nav>
    <div>
        <button>
            Open menu
        </button>
        <a href="/">MEM Collection</a>
        <ul>
            <li>
                <button>
                    Close menu
                </button>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/specimens">Specimens</a>
            </li>
            <li>
                <a href="/collecting-trips">Trips</a>
            </li>
            <li>
                <button>Pages</button>
                <ul>
                    {% for order in orders %}
                    <li>
                        <a href="/pages/{{ order.name.toLowerCase() }}">{{ order.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="/labels">Labels</a>
            </li>
        </ul>
    </div>
    <div>
        <input aria-label="Enter search term" type="text" />
        <button>Search</button>
    </div>
</nav>