<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title or eleventyComputed.title }}</title>
        <meta name="description" content="{{ description }}" />

        <link rel="icon" href="/favicon.svg" type="image/svg+html" />
        <link rel="alternate icon" href="/favicon.png" type="image/png" />
        <link rel="mask-icon" href="/favicon.svg" />

        <link rel="apple-touch-icon" href="/maskable_icon.png" />

        <link rel="manifest" href="/manifest.json" />
        <meta name="theme-color" content="#000000" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato" />

        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/navigation.css" />

        {% block css %}{% endblock %}
    </head>
    <body>
        {% include "navigation.njk" %}
        <main>
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </main>
        {% block footer %}
            {% include "footer.njk" %}
        {% endblock %}

        {% block scripts %}{% endblock %}

        <script type="module">
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
        <script src="/navigation.js" type="module"></script>
        <script src="/navigation.legacy.js" nomodule></script>
    </body>
</html>