<div id="nav-container">
    <nav aria-label="Site" id="navigation">
        <button aria-label="Open menu" id="open-menu">
            <picture>
                <source type="image/webp" srcset="/assets/hamburger-icon-white-sm.webp">
                <source type="image/png" srcset="/assets/hamburger-icon-white-sm.png">
                <img alt="" />
            </picture>
        </button>
        <a href="/" id="home-link">
            <picture>
                <source type="image/webp" srcset="/assets/logo-white.webp">
                <source type="image/png" srcset="/assets/logo-white.png">
                <img alt="" />
            </picture>
            MEM Collection
        </a>
        <ul id="menu" role="list">
            <li class="first-list-item">
                <button aria-label="Close menu" id="close-menu">
                     <picture>
                        <source type="image/webp" srcset="/assets/hamburger-icon-white-sm.webp">
                        <source type="image/png" srcset="/assets/hamburger-icon-white-sm.png">
                        <img alt="" />
                    </picture>
                </button>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/specimens">Specimens</a>
            </li>
            <li>
                <a href="/collecting-trips">Trips</a>
            </li>
            <li class="dropdown-list-item">
                <button aria-controls="pages-dropdown"
                        aria-expanded="false"
                        id="pages-button">
                    Pages
                    <picture>
                        <source type="image/webp" srcset="/assets/chevron-down-icon-sm.webp">
                        <source type="image/png" srcset="/assets/chevron-down-icon-sm.png">
                        <img alt="" class="icon-chevron-down" />
                    </picture>
                    <picture>
                        <source type="image/webp" srcset="/assets/chevron-up-icon-sm.webp">
                        <source type="image/png" srcset="/assets/chevron-up-icon-sm.png">
                        <img alt="" class="icon-chevron-up hide" />
                    </picture>
                </button>
                <ul class="hide" id="pages-dropdown">
                    {% for order in orders %}
                    <li>
                        <a href="/orders/{{ order.name.toLowerCase() }}" tabindex="-1">{{ order.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="/labels">Labels</a>
            </li>
        </ul>
    </nav>
    <form aria-label="Site" id="search-container" role="search">
        <input aria-label="Search term" type="text" />
        <button aria-label="Submit" id="search-button"></button>
    </form>
</div>