/* ----- GREENS ----- */
$dark-green-level-1: rgb(6 78 59);
$dark-green-level-2: rgb(6 95 70);
$dark-green-level-3: rgb(4 120 87);
$medium-green-level-1: rgb(5 150 104);
$medium-green-level-2: rgb(16 185 129);
$medium-green-level-3: rgb(52 211 153);
$light-green-level-1: rgb(110 231 183);
$light-green-level-2: rgb(167 243 208);
$light-green-level-3: rgb(209 250 229);
$light-green-level-4: rgb(236 253 245);

/* ----- BLACKS ----- */
$black: rgb(24 24 27);
$off-black: rgb(39 39 42);

/* ----- GRAYS ---- */
$dark-gray-level-1: rgb(63 63 70);
$dark-gray-level-2: rgb(82 82 91);
$medium-gray-level-1: rgb(113 113 122);
$medium-gray-level-2: rgb(161 161 170);
$light-gray-level-1: rgb(212 212 216);
$light-gray-level-2: rgb(228 228 231);
$light-gray-level-3: rgb(244 244 245);

/* ----- WHITES ----- */
$white: rgb(255 255 255);
$off-white: rgb(250 250 250);
