@use 'colors' as c;

html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
    background-color: c.$dark-gray-level-1;
    margin: 0;
}

main {
    min-height: 100vh;
}

h1 {
    border-bottom: 0.125rem solid c.$medium-gray-level-2;
    color: c.$off-white;
    font-size: 1.5rem;
    margin: 0.75rem 1.5rem;
    padding: 0 0 0.75rem;
}

footer {
    color: c.$off-white;
    margin: 3rem 1rem 1rem;
}
